.container
  footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4.border-top
    a.col-md-4.d-flex.align-items-center.justify-content-center.mb-3.mb-md-0.me-md-auto.link-dark.text-decoration-none(href='/')
      img.bi.me-2(src='../img/logo.png' width='45' height='50')
    p.col-md-4.mb-0.text-muted &copy; 2022 Company, Inc
    ul.nav.col-md-4.justify-content-end
      li.nav-item
        a.nav-link.px-2.text-muted(href='#') Войти
      li.nav-item
        a.nav-link.px-2.text-muted(href='#') Ассортимент
      li.nav-item
        a.nav-link.px-2.text-muted(href='https://vk.com/ludikuhni') VK