header.navbar.navbar-expand-lg.navbar-light.bg-light.shadow.p-3.mb-5.bg-white.rounded
  .container-fluid
    a.navbar-brand.ml-2(href='#')
      img.img-fluid.rounded.float-begin(src='../img/logo.png' alt='Логотип' width="81px" height="75px")
    .nav-item.m-3
        p.h6 +7 (863) 431-4707
        p.h6 +7 (863) 431-1707
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0.h5
        li.nav-item.my-auto
          a.nav-link(href='#') О нас
        li.nav-item.my-auto
          a.nav-link(href='#') Ассортимент
        li.nav-item.my-auto
          a.nav-link(href='#') Контакты
      .d-flex
        button.button-header(type='button') Вход
        button.button-header(type='button') Регистрация

