.container
      .row
        .col-6
          span(id='About_us')
            h1.first-text.fw-bold.text-center ДОБРО ПОЖАЛОBАТЬ
            h2.first-text.first-text-little Мы - мебельный салон Люди Кухни!
            h2.first-text.first-text-little Радуем клиентов более 20 лет. Помогаем с выбором, направляем по материалам, разделяем ваши взгляды и решаем проблемы!
            h2.first-text.first-text-little В нашем салоне вы можете выбрать мебель под заказ с учетом индивидуальных пожеланий.
            h2.first-text.first-text-little Далее мы продемонстрируем несколько популярных стилей кухонь и представим другие профили нашей работы.
            h2.first-text.text-center Приятного просмотра!
        .col.my-auto
          img.img-fluid.rounded.float-end(src='../img/first.png' alt='Фотография')