doctype html
html(lang="ru")
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // Подключение Bootstrap
  script(src='../../node_modules/jquery/dist/jquery.min.js')
  script(src='../../node_modules/popper.js/dist/umd/popper.js')
  script(src='../../node_modules/bootstrap/dist/js/bootstrap.min.js')
  script(src='../js/slider_js.js')
  link(rel='stylesheet' href='../../node_modules/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='C:/Users/machy/VSCProjects/LudiKuhniWeb/Views/css/slider_css.css')
  title Мебельный салон Люди Кухни

body
  include header.pug
  include index.pug
  include slider.pug
  include sell.pug
  include map.pug
  include footer.pug