.container.mt-5
  .row
    .col-6.map-image.contacts.fw-bold.justify-content-around.py-4
      span(id='Contacts')
      p.mx-auto Будем рады видеть Вас в нашем салоне!
      p.contacts-row.pr-2 Адрес:
        span.font-normal г. Таганрог, ул. Петровская 15
      p.contacts-row Телефон:
        span.font-normal +7 (863) 431-4707
        span.font-normal +7 (863) 431-1707
      p.contacts-row Email:
        span.font-normal barvenko@list.ru
      p.contacts-row Мы есть в VK:
        span.font-normal vk.com/ludikuhni
    .col.border.border-secondary.border-5.px-0
      script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad1a5893aac5359b75107c15a65c9184e3bebff8fcf41061271f3a2674e1830c4&amp;width=700&amp;height=600&amp;lang=ru_RU&amp;scroll=true")

