.container
    .row.row-cols-1.row-cols-sm-2.row-cols-lg-4
      .col.mb-3
        article.card
          img.card-img-top(src='../img/ya1.jpg' alt='Фотография')
          .card-body
            h2.card-title.h4 Настенные полки
            p.card-text
              | Описание товара
            a.btn.btn-primary(href='#') Перейти
      .col.mb-3
        article.card
          img.card-img-top(src='../img/ya2.png' alt='Фотография')
          .card-body
            h2.card-title.h4 Серванты
            p.card-text
              | Описание товара
            a.btn.btn-primary(href='#') Перейти
      .col.mb-3
        article.card
          img.card-img-top(src='../img/ya3.jpg' alt='Фотография')
          .card-body
            h2.card-title.h4 Перегородки
            p.card-text
              | Описание товара
            a.btn.btn-primary(href='#') Перейти
      .col.mb-3
        article.card
          img.card-img-top(src='../img/ya4.png' alt='Фотография')
          .card-body
            h2.card-title.h4 Стеллажи
            p.card-text
              | Описание товара
            a.btn.btn-primary(href='#') Перейти
    .row.mb-3
      .col-12
        article.card
          img.card-img-top(src='../img/ya5.png' alt='Фотография')
          .card-body
            h2.card-title.h4 Кухни
            p.card-text
              | Описание товара
            a.btn.btn-primary(href='#') Перейти
    .row
      .col-sm-4.mb-3
        article.card
          img.card-img-top(src='../img/ya7.jpg' alt='Фотография')
          .card-body
            h2.card-title.h4 Материалы
            p.card-text
              | Описание товара
            a.btn.btn-primary(href='#') Перейти
      .col.mb-3
        article.card
          img.card-img-top(src='../img/ya6.png' alt='Фотография')
          .card-body
            h2.card-title.h4 Шкафы-купе
            p.card-text
              | Описание товара
            a.btn.btn-primary(href='#') Перейти