html(lang="ru")
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // Подключение Bootstrap
  script(src='../node_modules/jquery/dist/jquery.min.js')
  script(src='../node_modules/popper.js/dist/umd/popper.js')
  script(src='../node_modules/bootstrap/dist/js/bootstrap.min.js')
  script(src='../js/slider_js.js')
  link(rel='stylesheet' href='../node_modules/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='../css/slider_css.css')
  title Мебельный салон Люди Кухни
body.bck
  include header.pug
  .container.pt-lg-5
    .row
      .col-8.mx-auto.my-auto.form-bck
        .card-body.p-lg-5
          h1.m-4.fw-light.first-text.fw-bold.text-uppercase Вход
          .pt-lg-4
            form(novalidate='novalidate' action='/signin' accept-charset='UTF-8' method='POST')
              .mb-2.email.optional.user_sign_in_type_email
                  label.form-label.email.optional(for='user_sign_in_type_email') &Ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&ncy;&acy;&yacy; &pcy;&ocy;&chcy;&tcy;&acy;
                  input#user_sign_in_type_email.form-control.string.email.optional(autofocus='autofocus' type='email' name='email')
              .mb-2.password.optional.user_sign_in_type_password
                  label.form-label.password.optional(for='user_sign_in_type_password') &Pcy;&acy;&rcy;&ocy;&lcy;&softcy;
                  input#user_sign_in_type_password.form-control.password.optional(type='password' name='password')
              .text-end.my-3
                  input#login-form-submit.btn.btn-primary.w-100(type='submit' name='commit' value='Войти' data-disable-with='Войти')
  include footer.pug

