.container
  .row.back_slider.pb-2
    .col-12.slider
      svg.slider__mask(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 1920 1080' width='0' height='0')
        defs
          // Slide 1
          pattern#pattern1l(patternunits='userSpaceOnUse' x='-20px' width='570' height='520' viewbox='0 0 570 520')
            image(href='../img/classika1.svg' width='700px' height='700px')
          pattern#pattern1r(patternunits='userSpaceOnUse' x='340px' width='570' height='520' viewbox='0 0 570 520')
            image(href='../img/classika2.svg' width='700px' height='700px')
          // Slide 2
          pattern#pattern2l(patternunits='userSpaceOnUse' width='570' height='520' viewbox='0 0 570 520')
            image(href='../img/modern1.svg' width='700px' height='700px')
          pattern#pattern2r(patternunits='userSpaceOnUse' x='340px' width='570' height='520' viewbox='0 0 570 520')
            image(href='../img/modern2.svg' width='700px' height='700px')
          // Slide 3
          pattern#pattern3l(patternunits='userSpaceOnUse' width='570' height='520' viewbox='0 0 570 520')
            image(href='../img/minimalism1.svg' width='700px' height='700px')
          pattern#pattern3r(patternunits='userSpaceOnUse' x='340px' width='570' height='520' viewbox='0 0 570 520')
            image(href='../img/minimalism2.svg' width='700px' height='700px')
      #slide-1.slide
        .slide__images
          .slide__image.slide__image--left
            svg(viewbox='0 0 900 520' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' x='0px' y='0px')
              path(d='M 0 0 L 0 520 L 350 520 L 570 0 L 0 0 Z' fill='url(#pattern1l)')
          .slide__image.slide__image--right
            svg(viewbox='0 0 900 520' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' x='0px' y='0px')
              path(d='M 900 520 L 900 0 L 560 0 L 338 520 L 900 520 Z' fill='url(#pattern1r)')
      #slide-2.slide
        .slide__images
          .slide__image.slide__image--left
            svg(viewbox='0 0 900 520' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' x='0px' y='0px')
              path(d='M 0 0 L 0 520 L 350 520 L 570 0 L 0 0 Z' fill='url(#pattern2l)')
          .slide__image.slide__image--right
            svg(viewbox='0 0 900 520' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' x='0px' y='0px')
              path(d='M 900 520 L 900 0 L 560 0 L 338 520 L 900 520 Z' fill='url(#pattern2r)')
      #slide-3.slide
        .slide__images
          .slide__image.slide__image--left
            svg(viewbox='0 0 900 520' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' x='0px' y='0px')
              path(d='M 0 0 L 0 520 L 350 520 L 570 0 L 0 0 Z' fill='url(#pattern3l)')
          .slide__image.slide__image--right
            svg(viewbox='0 0 900 520' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' x='0px' y='0px')
              path(d='M 900 520 L 900 0 L 560 0 L 338 520 L 900 520 Z' fill='url(#pattern3r)')
      .slider__pagination
        a.button(href='#slide-1') Классика
        a.button(href='#slide-2') Модерн
        a.button(href='#slide-3') Минимализм